body {
  margin: 0;
  top: 0;
  font-family: 'Helvetica' arial sans-serif;
}
#top-bar {
  width: 100%;
  background-color: black;
  height: 40px;
  position: fixed;
  top: 0;
}
#top-bar #title {
  width: 1100px;
  color: white;
  margin: auto;
}
#container {
  margin: 60px auto;
  width: 1120px;
}
#container .faculty-screen .videoContainer {
  height: 700px;
  width: 1120px;
}
#container .faculty-video {
  height: auto;
  width: auto;
}
#container .faculty-video .videoContainer {
  height: 600px;
  width: 600px;
}
#container .faculty-video.plus-screen {
  position: relative;
  display: inline-block;
  top: -200px;
  left: calc(1120px - 200px - 20px);
}
#container .faculty-video.plus-screen .videoContainer {
  height: 200px;
  width: 200px;
}
#container video {
  height: 100%;
  width: 100%;
}
#container .volume_bar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #12acef;
}
#container #chat-container {
  display: block;
  clear: both;
}
#container #chat-container .room-chat {
  height: 200px;
  padding: 10px;
  overflow: scroll;
  width: 500px;
}
#container #chat-container .user-input-container {
  width: 650px;
  height: 80px;
  clear: both;
}
#container #chat-container .user-input-container .chat-box {
  width: 500px;
  height: 75px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
#container #chat-container .user-input-container .send-button {
  padding: 2px;
  height: 75px;
  display: inline-block;
  float: left;
  width: 125px;
}
