<div id="top-bar">
    <h1 id="title">{{ roomTitle }}</h1>
</div>
<div id="container">
    <button ng-click="shareScreen()" ng-show="roomOwner">{{ shareValue }}</button>
    <p ng-show="showLink">Link to Join Room:</p>
    <p ng-show="showLink">{{roomLink}}</p>

    <label ng-show="!roomOwned && userName">New Room Name</label>
    <input ng-model="roomName" type="text" ng-show="!roomOwned && userName">
    <button ng-click="createRoom()" ng-show="!roomOwned && userName">Create it!</button>

    <label ng-show="!userName">Your name</label>
    <input ng-model="studentName" type="text" ng-show="!userName">
    <button ng-click="joinRoom()" ng-show="!userName">Join Room</button>

    <h2>{{ userName }}</h2>

        <div class="faculty-screen" ng-show="facultySharingScreen"></div>
        <div class="faculty-video" ng-class="facultyVideoClass()"></div>
        <div class="student-video" ng-show="studentSharingVideo"></div>

        <div class="localVideo" ng-show="localVideoOn"></div>
    <div id="chat-container" ng-class="facultyVideoClass()">
        <div class="room-chat">
            <div ng-repeat="message in chatMessages">
                <span>{{message.username}} [{{message.timestamp | date : 'mediumTime'}}]: </span>
                <span>{{message.text}}</span>
            </div>
        </div>
        <div class="user-input-container">
            <textarea class="chat-box" type="text" ng-model="chatMessage" ng-keydown="checkForEnter($event)"></textarea><button class="send-button" ng-click="sendMessage()">Send</button>
        </div>
    </div>
    <div id="remotes"></div>
</div>
